
.modal{
    border-radius: 1px solid red;
}

.modal.open .modalOverlay,
.modal.open .modalWindow {
    opacity: 1;
    z-index: 1000;
}
.modal.hide .modalOverlay,
.modal.hide .modalWindow {
    opacity: 1;
    z-index: 1000;
}
.modal.open  .modalWindow {
    transform: translateY(100px);
}
.modal.open  .modalOverlay{
    background: rgba(0, 0, 0, .5);
}
.modal.hide  .modalWindow {
    transform: translateY(-200px);
}
.modal.hide  .modalOverlay{
    background: rgba(0, 0, 0, 0);
}


.modalWindow, .modalOverlay{
    opacity: 0;
    z-index: -1;
}
.modalOverlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}
.modalWindow {
    width: 600px;
    border-radius: 25px;
    border: 1px solid white;
    background:  rgb(68 68 68 / 50%);
    color: white;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;

}
.modalHeader{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.modalTitle{
    font-size: 1.5rem;
}

.modalClose{
    cursor: pointer;
}
.modalBody{
    padding: 10px;
}

.modalBody p {
    margin: 0 0 5px;
}

.modalFooter{
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
.modalFooter button{
    margin-left: 5px;
    border-width:1px;
}